@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Global reach</h1>
    <p class="lead">With (<span style="text-decoration: line-through;">Windows</span>) Microsot Azure Web sites You build global reach Application from the comfort of your home.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Request.UserHostAddress</h2>
        <p>
            This is how I see you!
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Server.MachineName</h2>
        <p> </p>
    </div>
</div>